
# If you want to add a password protection to the Live environment:
# 1. Generate an encrypted password for the user "webadmin" via an online tool like http://www.htaccesstools.com/htpasswd-generator/
# 2. Via the SFTP account provided by TechOps, create the file private/htpasswd and write into it the line generated in step 1.
# 3. Add the following Apache config snippet to /data/websites-live/{{ vhost_name }}/public/.htaccess

# BEGIN password protection config block
AuthName "Restricted area"
AuthType Basic
AuthUserFile /data/websites-live/{{ vhost_name }}/private/htpasswd
Require valid-user
# END password protection config block

